/* src/components/IndexPage.css */
.index-page {
    text-align: center;
  }
  
  .index-page h1 {
    margin-bottom: 50px;
  }

  .applications {
    display: flex;
    justify-content: space-around; /* This will space out the icons evenly */
    align-items: center;
    flex-wrap: wrap; /* In case of small screens, allow icons to wrap */
    max-width: 100%; /* Adjust based on the size of your icons */
    margin: auto;
    gap: 30px;
  }
  
  .app-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: white; /* Sets the background to white */
    border-radius: 15px; /* Adjusts the corner radius for rounded corners */
    padding: 1rem; /* Adds some space inside the borders of the background */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
  }
  
  .app-icon:hover {
    transform: scale(1.05); /* Slightly enlarges the icon on hover */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Optional: Enhances the shadow on hover */
  }
  
  .app-icon img {
    width: 200px; /* Adjust to match the size of your icons */
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .app-icon p {
    margin-top: 10px;
  }
  body {
    font-family: 'Arial', sans-serif; /* Replace with the font of your choice */
    color: #333; /* This is a dark grey, adjust as needed */
    background-color: #f0f0f0; /* Light grey background, adjust as needed */
  }
  
  .toolbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between items */
    padding: 20px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* Space between icon and text */
  }
  
  .icon img {
    width: 100px; /* Adjust as needed */
    height: auto;
  }
  
  .icon-title {
    font-size: 1em; /* Adjust as needed */
    color: #333; /* Adjust as needed */
  }
  
  /* Add any additional hover effects */
  .icon:hover {
    transform: scale(1.1); /* Example hover effect */
  }
  .index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
  }
  
  .index-page h1 {
    margin-bottom: 2rem; /* Adjust the space between the header and the icons */
  }
  
  /* Additional styling for the server image */
  .server-image {
    max-width: 100%; /* Ensure it is not wider than the screen */
    height: auto;
    margin-bottom: 3rem; /* Space between the image and the icons */
  }
  
  /* You might need to adjust the path to your server image */
  .server-image img {
    width: auto; /* Adjust width or let it be responsive */
    max-height: 500px; /* Adjust the height as needed */
  }